
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
ul, ol {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    background-color: #ffffff;
    width: 1600px;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50% 50% 50% 50%);
    margin: -1px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    padding: 32px 0 25px;
}
.logo {
    float: left;
    text-transform: uppercase;
    font-size: 30px;    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color :#515151;
    letter-spacing: -0.025em;
}
.logo::first-letter {
    color: #1abc9c;    
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.nav {
    float: right;
    line-height: 2.15em;
}
.nav-item {
    float: left;
}
.nav-item:not(:last-child) {
    margin-right: 31px;
}
.nav-item a {
    display: inline-block;
    font-family: 'opensans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.025em;
    color: #626262;
    text-transform: uppercase;
}
.nav-item a:hover {
    color: #1abc9c;
}
.section-heading {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 0;
    letter-spacing: -0.02em;
}
.section-heading::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 21px auto 0;
}

.slider {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
}
.slider-item-content {
    position: absolute;   
    width: 740px;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}
.slider-item-title {
    font-size: 60px;
    line-height: 82px;    
    font-weight: 900;
    letter-spacing: -0.02em;
}
.slider-item-text {
    font-size: 24px;
    line-height: 54px;
    letter-spacing: -0.02em;
    font-weight: 300;
}

.slider_buttons {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.slider_button {
    height: 104px;
    width: 104px;
    border: 0;
    outline: none;
    background-color: rgba(78, 198, 171, 0.65);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon/arrow.png);
}
  
.slider_button-prev {
    float: left;
}
  
.slider_button-next {
    float: right;
    transform: rotate(180deg);
}
  
.slider_button:hover,
.slider_button:focus {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
}
  
.collection {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: rgb(233, 240, 253);
}
.collection-heading {
    margin-bottom: 80px;
}
.collection-card {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
  }  
  .collection-card_item {
    float: left;
    width: 255px;
  }  
  .collection-card_item:not(:nth-last-of-type(1)) {
    margin-right: 30px;
  }
  .collection-card_figure {
    position: relative;
  }  
  .collection-card_figure:hover .collection-card_overlay {
    opacity: 1;
    overflow: hidden;
  }  
  .collection-card_figure:hover .card_caption {
    background-color: rgb(26, 188, 156);
  }  
  .collection-card_figure-img {
    position: relative;
  }  
  .collection-card_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.55);
    background-clip: padding-box;
    border: solid 11px rgba(255, 255, 255, 0.55);
    opacity: 0;
    overflow: hidden;
  }  
  .control-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
  .control-list_item {
    float: left;
  }  
  .control-list_item:nth-last-of-type(n + 3) {
    margin-right: 9px;
  }  
  .control-list_item:nth-last-of-type(n + 2) {
    margin-bottom: 7px;
  }  
  .control-list_item-button {
    display: block;
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #fff;
  }  
  .control-list_item-button:hover {
    border: transparent;
    background-color: #1abc9c;
  }  
  .control-list_item-link_favorites {
    background-image: url(../img/icon/favorites.png);
  }  
  .control-list_item-link_compare {
    background-image: url(../img/icon/compare.png);
  }  
  .control-list_item-link_follow {
    background-image: url(../img/icon/follow.png);
  }
  .control-list_item-link_basket {
    width: 168px;
    background-color: rgb(50, 50, 50);
    background-image: url(../img/icon/basket.png);
    background-position: 12px center;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-left: 45px;
    padding-top: 3px;
  }  
  .collection-card_caption {
    color: #fff;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }  
  .collection-card_title {
    float: left;    
    padding: 11px 14px 9px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -0.02em;
  }  
  .collection-card_title-link {
    color: #ffffff;
  }  
  .collection-card_price {
    float: right;
    padding: 11px 11px 9px 12px;
    background-color: rgba(255,255,255, 0.44);
    font-size: 18px;
    letter-spacing: -0.02em;
    cursor: default;
 }















.footer {
    padding: 37px 0 30px;
    text-align: center;
    background-color: rgb(50, 50, 50);    
    font-size: 16px;
    font-family: 'opensans', sans-serif;
    font-weight: 400;
}
.footer p {
    color: #ffffff;
}
.footer a {
    color: #1abc9c;
}
  